// app global css in Sass form
.text-wrap-all
  white-space: pre-line
  word-break: break-word

.q-markdown--token
  background: rgba(0, 0, 0, 0.05) !important
  padding: 1px 4px !important
  border: none !important
