// app global css in Sass form
@import '../../../src/index.sass'

.text-wrap-all
  white-space: pre-line
  word-break: break-word

.interactive-preview
  border: thin solid rgba(#CE93D8, 0.9)
  margin-top: -10px
  padding: 1.3em
  padding-top: 1.9em
  padding-bottom: 1.6em
  margin-bottom: 1.5em

.api-card__left-tab .q-tab__content
  width: 100%
  align-items: start
