// app global css in Sass form
.text-wrap-all
  white-space: pre-line
  word-break: break-word

.api-card__left-tab .q-tab__content
  width: 100%
  align-items: start

.info-box-wrapper .easy-form
  padding: 1em
.info-card .easy-field
  padding: 1em

.easy-field.quasar-prop
  background: whitesmoke
.easy-field.quasar-prop-modified
  background: lavender

.q-markdown--token
  background: rgba(0, 0, 0, 0.05) !important
  padding: 1px 4px !important
  border: none !important
